
.mt{
    margin-top: 10px;
}

.link-overlay {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit; 
 
  }

  .carousel-content {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white; /* Adjust text color based on your background */
  }

  .link-overlay:hover {
    color: red;
  }